@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@200;500&display=swap');
html,
body {
    justify-content: center;
    padding-left: 17%;
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans Display', sans-serif;
    background-image: url(tumblr_o2o3n77pph1uwbvw1o1_400.gif);
}

.hidden {
    display: none;
    transition: 1s;
}

.box {
    justify-content: center;
    border: 2px black;
    padding-bottom: 20px;
    margin-bottom: 20px;
    transition: 1s;
}

.input {
    width: 100px;
    margin: 2px;
    border: none;
    height: 30px;
    width: 10%;
    justify-content: center;
    border-radius: 10px;
    transition: .5s;
}

.input:hover {
    background-color: rgb(208, 238, 204);
}

.input:focus {
    background-color: rgb(208, 238, 204);
    outline: none;
}

.delete {
    cursor: pointer;
    background: rgb(228, 86, 86);
    border-radius: 10px;
    border: none;
}

.delete:hover {
    background: rgb(218, 61, 61);
}

.Edit {
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: rgb(146, 221, 146);
}

.Edit:hover {
    background-color: rgb(102, 197, 102);
}

.search {
    margin: 2px;
    border: none;
    height: 30px;
    width: 10%;
    justify-content: center;
    border-radius: 10px;
    transition: .5s;
}

.search:hover {
    background-color: aliceblue;
}

.search:focus {
    background-color: aliceblue;
    outline: none;
}

.table {
    width: 30%;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 20px;
    padding: 20px;
}

th {
    text-align: left;
    cursor: pointer;
}

tr {
    border-radius: 10px;
}

td {
    cursor: default;
    transition: 1s;
}

td:hover {
    background-color: rgb(200, 230, 255);
}