@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@200&display=swap');
body {
    font-family: 'Noto Sans Display', sans-serif;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-image: url(tumblr_o2o3n77pph1uwbvw1o1_400.gif);
}

.table {
    place-self: center;
    border: 2px white;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

.table {
    color: black;
}

th {
    cursor: pointer;
}

.center {
    text-align: center;
    line-height: 30px;
    width: 35%;
}